html
	head
	body
		h1 write a message
		form(action= '/' method='post')

			br

			input#tit(placeholder="title", name='titel', style="width: 142px;")
			
			br
		
			textarea#nibbit(type="text", placeholder="body", rows="5", name="bodie")
			br
			input(type='submit', value='submit')
		
		br
		a(href='/messages') read a message


			

